header {
  text-align: center;
  width: 700px;
  margin-left: 300px;
  padding: 20px;
  background-color: gray;
  border-radius: 5px;
}
header h1 {
  font-style: italic;
  color: white;
}

header h6 {
  font-style: italic;
  color: white;
}

button {
  background-color: gray;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
}

input {
  border-radius: 5px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 2px;
}